/* Compte css  */

/* Inscription */



.inscription {
    list-style: none;
    text-align: center;
    background-color: #fdce98;

}

.connexion {
    background-color: #f6eec9;
    text-align: center;
}

.connexion .login-text {
    color: #111;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.connexion .login-email .input-group input {
    margin-bottom: 2%;
    width: 25%;
    height: 70%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1.5rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}